.records{
    width: 100%;
    user-select: none;
    text-align: left;
}

.records th{
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem;
}

.records td{
    height: 50px;
    padding-left: 20px ;
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    text-align: center;
    min-width: 140px;
}

.records tr:hover{
    background-color: var(--secondary-color);
}