*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FFBA00;
    --secondary-color: #FFF1CC;
    --shadow-color: #CCC;
    --text-color: #FFF;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

header{
    background-color: var(--primary-color);
    height: 70px;
    text-align: center;
    box-shadow: 0 1px 2px var(--shadow-color);
    line-height: 70px;
}

.header-title{
    color: black;
    font-size: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    gap: 20px;
}

footer{
    width: 100;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
}